.button {
  display: inline-flex;
  box-sizing: border-box;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  @extend %layout__align--vt, .transition__quick;

  .button__icon {
    height: 0px;
    display: flex;
    align-items: center;
    margin-right: $pd_small;

    &:last-child {
      margin-right: 0px;
    }

    icon {
      width: 24px;
      height: 24px;
    }
  }
}

// Default button

.button--default {
  padding: 13px;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  background: lighten($c_primary, 5);

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &:hover {
    background: lighten($c_primary, 10);
  }

  // Pressed (active is something else)
  &:active {
    background: lighten($c_primary, 2);
  }

  // Real active state
  &.button--isActive {
    background: desaturate($c_accent, 10);
    color: black;

    &:hover {
      background: lighten($c_accent, 5);
    }

    &:active {
      background: darken($c_accent, 5);
    }
  }
}

// Player transport button

.button--playerTransportButton {
  height: 55px;
  width: 55px;

  opacity: 0.4;

  flex-shrink: 0;

  @extend %layout__align--vt, %layout__align--hz;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  .button__icon {
    width: 20px;
    height: 20px;
  }

  &.button--isActive {
    opacity: 1;

    svg {
      fill: $c_accent;
    }
  }
}

// Popover button

.button--popoverPrimary {
  padding: 13px;
  border-radius: 3px;

  &:hover {
    background: $c_trans-dark-1;
  }

  &:active {
    background: $c_trans-dark-2;
  }

  .button__label {
    text-transform: uppercase;
    font-size: 13px;
  }

  .button__icon svg {
    fill: black;
  }
}

// More button

.button--loadMore {
  width: 100%;
  border-radius: 0px;

  padding: $pd_normal;

  @extend %layout__align--hz;
}

// Queue item button
.button--queueItemButton {
  height: 24px;
  width: 24px;

  svg {
    fill: black;
  }
}
