.textDocument {
  font-size: 14px;
  color: rgba(255,255,255,0.8);
  white-space: pre-wrap;
}

.textDocument h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;

  color: $c_accent;
}

.textDocument ul {
  padding: 0;
  margin-left: 18px;
  margin-bottom: 15px;
}

.textDocument li {
  margin-bottom: 3px;
}

.textDocument p {
  margin-bottom: 10px;
}

.textDocument em {
  font-style: italic;
}

.textDocument strong {
  font-weight: bold;
}

.textDocument__link {
  opacity: 0.8;

  @extend .transition__quick;

  &:hover {
    opacity: 1;
  }
}
