// Classes

.emptyState {
  @extend %layout__col, %layout__align--hz, %layout__align--vt;
  opacity: 0.3;

  margin: 40px 0px;
}

.emptyState__icon svg {
  width: 80px;
  height: 80px;

  margin-bottom: $pd_normal;
}

.emptyState--inPopover {
  height: 300px;

  .emptyState__icon path {
    fill: $c_popover-text;
  }
}
