.wd-form {

}

.wd-form__footer {
  margin-top: $pd_normal;
  @extend %layout__row;
}

.wd-form__status {
  @extend %layout--grow, %layout__align--vt;
}

/** Form field cell **/

.formFieldCell {
  margin-bottom: $pd_normal;
  position: relative;

  &.isInvalid {
    .wd-input {
      border-color: $c_state-invalid;
    }
  }
}

.formFieldCell__label {
  color: $c_accent;
  margin: $pd_normal 0px;
}

.formFieldCell__error {
  margin-top: $pd_normal;

  font-size: 13px;
  color: $c_state-invalid;
}

.formFieldCell__help {
  margin-top: $pd_small;
  position: absolute;

  @extend .commonText__weakText;
}

/** Form status **/

.formStatus__pending, .formStatus__error {
  @extend %layout__row, %layout__align--vt;
}

.formStatus__loading, .formStatus__errorIcon {
  margin-right: $pd_normal;

  @extend %layout__align--vt;
}

.formStatus__statusMessage, .formStatus__errorMessage {
  font-size: 13px;
}

.formStatus__pending {}

.formStatus__error {
  .formStatus__errorMessage {
    color: $c_state-invalid;
  }

  svg {
    fill: $c_state-invalid;
  }
}

/** Form layout **/

.formLayout {
  flex-wrap: wrap;
  @extend %layout__row;
}

.formLayout__fields {
  width: 0px;
  flex-wrap: wrap;
  justify-content: space-between;

  display: flex;

  @extend %layout--grow;
}

.formLayout__primary {
  flex-grow: 1;
  width: 100%;
}

.formLayout__secondary {
  flex-shrink: 1;
  margin-right: $pd_large;
}

/** Form layout cells **/

.formLayout__fieldCell--full {
  width: 100%;
}

.formLayout__fieldCell--half {
  width: calc(50% - 10px);
}

/** Form options **/

.formOptions {
  margin-bottom: -$pd_normal;

  @extend %layout__col;
}

.formOptions__section {
  margin-bottom: $pd_normal;
  margin-top: $pd_normal;
}

.formOptions__sectionLabel {
  color: $c_accent;
  margin-bottom: $pd_small;
  font-size: 18px;
}

/** Form field options **/

.formFieldOption {
  border-bottom: solid 1px $c_trans-light-1;

  @extend %layout__row, %layout__align--vt;
}

.formFieldOption__label {
  padding: $pd_large;
  padding-left: 0px;

  @extend %layout--grow;
}

.formFieldOption__inputContainer {
  min-width: 150px;
}

.formFieldOption__input {
  position: relative;
  right: 0px;
}

/** Set minimum dropdown width **/

.formFieldOption {
  .dropdownInput {min-width: 250px}
}
