.imageCollection {
  display: block;
  background: $c_trans-dark-1;
  overflow: hidden;
  position: relative;

  &.hasLightbox {
    cursor: pointer;
  }

  .imageRenderer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

.imageRenderer {
  opacity: 0;
  transform: scale(1.2);

  border-style: none;
  display: block;

  background: none;
  background-repeat: no-repeat;
  background-position: center;

  @extend .transition__normal;

  transition-duration: 350ms;
  transition-property: opacity, transform;

  &.hasLoaded {
    opacity: 1;
    transform: scale(1);
  }
}

// Cheap image

.cheapImage {
  display: block;

  width: 100%;
  height: 100%;

  opacity: 0;

  background: none;
  background-repeat: no-repeat;
  background-position: center;

  @extend .transition__normal;
  transition-property: opacity;
  transition-duration: 350ms;

  &.hasLoaded {
    opacity: 1;
  }
}
