// Variables

$modal-padding: $pd_normal + 5;

// Classes

.modal__overlayContainer {
  position: fixed;
  pointer-events: none;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 200;

  &.isActive {
    pointer-events: all;
    overflow-x: hidden;
  }
}

.modal__overlay {
  pointer-events: none;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 1) 100%);

  transition: opacity 200ms ease 200ms;

  @extend %layout__align--hz, %layout__align--vt, .commonFixed;

  &.isActive {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0ms;
  }
}

.modal__container {
  min-width: 400px;

  padding: $modal-padding;
  background: $c_primary-dark;

  @include shapeMask__rounded(2px);

  overflow: visible;
}

.modal__header {
  margin: -$modal-padding;
  margin-bottom: $modal-padding;
  padding: $pd_large;

  color: $c_accent;
  background: $c_primary;

  font-size: 16px;

  @extend .shadow__light;
}

.modal__form {
  width: 740px;
}

.modal__footer {
  margin-top: $modal-padding;

  @extend %layout__row, %layout__align--vt;
}

.modal__actions {
  @extend %layout--grow, %layout__row, %layout__row--right;

  & .wd-button {
    margin-left: $pd_normal;
    min-width: 50px;
  }
}

/** Lightbox **/

.modal__lightbox {
  margin: -$modal-padding;
  margin-bottom: 0px;

  min-width: 450px;

  max-height: 700px;
  max-width: 700px;
}
