.paginator {
  @extend %layout__row;
}

.paginator__shortcuts {
  justify-content: center;
  @extend %layout__row, %layout--grow;
}

.paginator__numberButton {
  padding: 0px $pd_normal;
}
