// Variables

$scrollbar-width: 4px;

// Classes

.scrollContainer {

}

.scrollContainer__inner {
  transform: translate3d(0, 0, 0);
}

.scrollContainer__trackVertical {
  position: absolute;
  width: $scrollbar-width;

  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1;

  cursor: pointer;

  @extend .transition__quick;
}

.scrollContainer__thumbVertical {
  width: 100%;
  background: $c_trans-light-1;
}

.scrollContainer--inPopover {
  .scrollContainer__thumbVertical {background: $c_trans-dark-2;}
}

/** Window scroll **/

.windowScroller {
  z-index: 50;
}
