// Classes

$s__light: 0px 2px 2px 0px rgba(0,0,0,0.23);
$s__light--top: 0px 2px 2px 0px rgba(0,0,0,0.23);

$s__light--inset-top: inset 0px 10px 5px -7px rgba(0, 0, 0, 0.33);

.shadow__light {
  box-shadow: $s__light;
}

.shadow_light--top {
  box-shadow: $s__light--top;
}

.shadow__light--right {
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.23);
}

.shadow__light--inset-top {
  box-shadow: $s__light--inset-top;
}
