// Mixins

@mixin shape__triangle-up($color, $width) {
  width: 0;
  height: 0;
  border-left: $width solid transparent;
  border-right: $width solid transparent;

  border-bottom: $width solid $color;
}

@mixin shapeMask__rounded($radius) {
  position: relative;
  border-radius: $radius;
  overflow: hidden;
  z-index: 1;
}
