// Variables

$tr_quick: 200ms;
$tr_normal: 500ms;
$tr_slow: 1s;

// Classes

.transition__quick {
  transition: all ease $tr_quick;
}

.transition__normal {
  transition: all ease $tr_normal;
}

.transition__slow {
  transition: all ease $tr_slow;
}
