// Variables

$collection-image-size: 180px;

// Classes

.collectionListItem {
  position: relative;
  margin-bottom: $pd_large + 5;

  @extend .anim__common-fadein;
}

.collectionListItem__image {
  height: $track-artwork-size;
  width: $track-artwork-size;

  margin-right: $pd_normal;
  @include shapeMask__rounded(3px);
  @extend .shadow__light;
}

.collectionListItem__tiledImage {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.collectionListItem__main {
  @extend %layout__row;
}

// Extend from track list item for uniformity

.collectionListItem__foreground {
  padding: 15px;
  background: rgba(0, 0, 0, 0.3);
}

.collectionListItem__content {
  background: $c_primary;
  flex-grow: 1;
  @include shapeMask__rounded(3px);

  @extend .shadow__light;
}

.collectionListItem__header {
  @extend .trackListItem__header;
}

.collectionListItem__primaryInfo {
  @extend .trackListItem__primaryInfo;
}

.collectionListItem__title {
  @extend .trackListItem__title;
}

.collectionListItem__type {
  @extend .trackListItem__type;
}

.collectionListItem__actionBar {
  margin-top: 15px;
  @extend .trackListItem__actionBar;
}

// Collection track item

.collectionListItem__trackListContainer {
  border-top: solid $c_trans-light-1 1px;

  margin: -$pd_normal;
  margin-top: $pd_normal;
}

.collectionListItem__trackList {
  max-height: 250px;
}

.collectionTrackItem {
  border-bottom: solid $c_trans-light-1 1px;
  margin-top: -1px;

  @extend %layout__row, %layout__align--vt, .transition__quick;

  &:hover {
    background: $c_trans-light-1;
    cursor: pointer;
  }

  &.isActive {
    color: $c_accent;
  }
}

.collectionTrackItem__index {
  width: 50px;
  height: 50px;
  @extend %layout__align--vt, %layout__align--hz;
}

.collectionTrackItem__title {
  margin-left: $pd_normal;
  font-size: 14px;
}
