html {
  background: $c_primary-bg;

  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  touch-action: manipulation;
  line-height: 40px;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

#wd-app {
  height: 100vh;
  user-select: none;
  cursor: default;
  line-height: 15px;
}

#wd-init {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 500;

  background: $c_primary-bg;

  h1 {
    margin: 25px 0px;
    @extend .transition__slow;

    img {
      opacity: 0;
      filter: saturate(0);
      @extend .transition__slow;
    }
  }

  .wd-init__status {
    opacity: 0;

    @extend .transition__slow;
  }

  .wd-init__statusText {
    position: fixed;
    bottom: 15px;
    left: 15px;
  }

  .wd-init__progress {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    height: 2px;
  }

  .wd-init__progressFill {
    width: 100%;

    height: 2px;
    background: $c_accent;

    transform-origin: left;
    transform: scaleX(0);

    @extend .transition__slow;
  }

  .wd-init__disclaimer {
    font-size: 12px;
    opacity: 0.2;
    margin-top: 20px;
    text-align: center;
  }

  &.isComplete {
    pointer-events: none;
    opacity: 0;

    h1 {
      transform: scale(1.5);
    }
  }

  @media screen and (max-width: 500px) {
    h1 {
      overflow: hidden;
      width: 39px;
    }
  }
}

/** Disable scroll **/

.disableScroll {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/** Authentication **/

.loginForm,
.loginFormModal {
  width: 400px;
}

/** Icons **/

icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  svg {
    height: 100%;
    width: 100%;
  }
}
