// Variables

$masthead-height: 55px;
$masthead__popover-width: 350px;

// Classes

/** Header **/

.masthead__container {
  z-index: 200;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  pointer-events: none;

  @extend .commonFixed;
}

.masthead {
  height: $masthead-height;

  background: $c_primary;

  justify-content: space-between;

  pointer-events: all;

  @extend %layout__row, %layout__align--vt, .shadow__light;
}

.masthead__logo {
  height: $masthead-height;
  padding-left: $pd_normal;

  @extend %layout__row, %layout__align--vt;
}

.masthead__badge {
  font-size: 11px;
  margin-left: 15px;
  margin-top: -7px;
}

.masthead__authentication {
  justify-content: flex-end;
  margin-right: $pd-normal;

  @extend %layout__row, %layout--grow;
}

.masthead__nav {
  margin-right: $pd_small;
  @extend %layout__row, %layout__row--right;
}
.masthead__links {
  @extend %layout__row;
}

.masthead__navLink {
  height: $masthead-height;
  vertical-align: middle;
  padding: 0px $pd_normal;
  color: $c_text;
  opacity: 0.8;

  @extend %layout__align--vt, .transition__quick;

  &:hover {
    background: $c_trans-dark-2;
    opacity: 1;
  }
  &.selected {
    background: $c_trans-dark-3;
    color: $c_accent;
    opacity: 1;

    svg {fill: $c_accent}
  }
}

.masthead__navLinkIcon {
  icon {
    width: 24px;
    height: 24px;
  }
}

.masthead__navLinkText {
  margin-left: 15px;
  margin-top: 2px;
}

.masthead__userAvatar {
  overflow: hidden;
  position: relative;
  border-radius: 100%;

  z-index: 1;

  height: 32px;
  width: 32px;
}

.masthead__buttons {
  @extend %layout__row;
}

.masthead__navButton {
  width: $masthead-height;
  height: $masthead-height;

  position: relative;
  @extend .transition__quick;

  &:hover {
    background: $c_trans-dark-2;
    cursor: pointer;

    .masthead__navButtonContent {opacity: 1;}
  }

  svg {
    fill: $c_accent;
    display: block;

    height: 24px;
    width: 24px;

    @extend .transition__quick;
  }
}

.masthead__navButtonContent {
  opacity: 0.8;

  height: 100%;
  width: 100%;

  @extend .transition__quick, %layout__align--vt, %layout__align--hz;
}

.masthead__popover {
  width: $masthead__popover-width;
}

.masthead__alertDot {
  min-width: 12px;
  height: 12px;
  position: absolute;

  border-radius: 50px;
  border: solid 1px #242c36;

  pointer-events: none;
  transform: scale(0);

  font-size: 11px;
  text-align: center;
  color: black;

  background: $c_accent;
  padding: 2px;

  top: 13px;

  @extend %layout__align--hz, %layout__align--vt, .transition__quick;
}

.masthead__space {
  height: $masthead-height;
}

/** Indicator unread **/

.masthead__indicatorButton {
  &.hasUnread {
    svg {fill: white;}
    .masthead__indicatorButtonAlert {transform: scale(1);}
  }
}

.masthead__indicatorButtonAlert {
  min-width: 12px;
  height: 12px;
  position: absolute;

  border-radius: 50px;
  border: solid 1px $c_primary;

  pointer-events: none;
  transform: scale(0);


  font-size: 11px;
  color: black;

  background: $c_accent;

  top: 13px;
  left: 15px;

  padding: 2px;

  @extend %layout__align--hz, %layout__align--vt, .transition__quick;
}

/** Hamburger variant **/

.masthead__hamburgerNav {
  width: 55px;
  height: 55px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.masthead__navOverlay {
  position: absolute;
  background: black;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  height: 100vh;
  width: 100vw;

  pointer-events: none;
  opacity: 0;

  @extend .transition__normal;
}

.masthead__navPanel {
  background: $c_primary-dark;
  position: absolute;

  top: 0px;
  bottom: 0px;
  right: 0px;

  width: 300px;
  max-width: 100vw;

  transform: translateX(calc(100% + 10px));
  box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.23);

  @extend .transition__normal, %layout__col;
}

.masthead__panelHeader {
  background: $c_primary;
  height: $masthead-height;
  font-size: 18px;

  @extend .shadow__light, %layout__align--vt, %layout__align--hz;
}

.masthead__panelBackButton {
  height: $masthead-height;
  width: $masthead-height;
}

.masthead__panelTitle {
  margin-left: -$masthead-height;

  @extend %layout__align--hz, %layout--grow;
}

.masthead__panelBody {
  @extend %layout--grow;
}

.masthead__panelFooter {
  background: $c_trans-dark-1;

  flex-shrink: 0;
  border-top: solid 1px $c_trans-light-1;

  position: fixed;
  bottom: 0px;
  width: 100%;

  @extend %layout__row;
}

.masthead__panelTab {
  position: relative;

  @extend %layout--grow, .transition__quick;

  &.isSelected {
    background: $c_trans-dark-2;

    &::before {
      height: 2px;
    }
  }

  &::before {
    display: block;
    content: '';
    position: absolute;

    width: 100%;
    height: 0px;
    background: $c_accent;

    @extend .transition__quick;
  }

  .masthead__userAvatar {
    width: 24px;
    height: 24px;
  }
}

.masthead__panelTabContent {
  padding: $pd_normal;
}

.masthead__panelLink {
  height: $masthead-height;

  @extend .masthead__navLink;
}

.masthead__hamburgerNav.isOpen {
  .masthead__navOverlay {
    pointer-events: all;
    opacity: 0.7;
  }

  .masthead__navPanel {
    transform: translateX(0%);
  }
}

/** Popover **/

.masthead__popoverContent {
  margin: -$pd_normal;
  margin-top: 0px;
}

.masthead__popoverList {
  max-height: 40vh;
}

.masthead__popoverItem {
  padding: $pd_normal;
  @extend .transition__quick;

  &:hover {
    cursor: pointer;
    background: $c_trans-dark-1;
  }
}

.masthead__popoverActions {
  border-top: solid 1px $c_trans-dark-1;

  @extend %layout__row;
}

.masthead__popoverButton {
  padding: $pd_large;

  @extend .transition__quick, %layout--grow, %layout__align--hz;

  &:hover {
    background: $c_trans-dark-1;
  }
}

/** Profile options popover **/

.profileOptions__menu {
  display: flex;
  flex-wrap: wrap;

  margin: -$pd_normal;
}

.profileOptions__menuItem {
  height: 125px;
  width: 33.3%;
  box-sizing: border-box;

  padding: $pd_normal;

  opacity: 0.7;

  @extend .transition__quick, %layout__col, %layout__align--vt, %layout__align--hz;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  svg {
    width: 30px;
    height: 60px;

    path {fill: black;}
  }
}

.profileOptions__menuItemLabel {
  font-size: 13px;
}

/** Notifications popover **/

.masthead__notificationItem {
  &.isUnread {
    .commonListItem__header:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: $c_accent;
      @include shapeMask__rounded(100%);

      margin-right: 5px;
    }
  }
}

.masthead__notificationItemAvatar {
  @include shapeMask__rounded(100%);
}

// Queries


@media screen and (max-width: 1020px) {
  .masthead__nav .masthead__navLinkText {
    display: none;
  }
}
