// Variables

$sliderInput-area: 8px;
$sliderInput-height: 2px;

// Classes

.sliderInput {
  width: 100%;
}

.sliderInput__area {
  padding: $sliderInput-area 0px;
  cursor: pointer;
}

.sliderInput__rail {
  height: $sliderInput-height;
  position: relative;

  background: rgba(255,255,255,0.08);
}

.sliderInput__fill {
  height: $sliderInput-height;
  width: 100%;
  position: absolute;

  background: white;
  transform-origin: 0 0;
}

.sliderInput__thumb {
  height: 8px;
  width: 8px;
  float: right;

  background: white;

  margin-right: -5px;
  margin-top: -3px;

  opacity: 0;
  transform: scale(0);

  @include shapeMask__rounded(10px);
  @extend .transition__quick;
}

.sliderInput__area:hover .sliderInput__thumb {
  opacity: 1;
  transform: scale(1);
}
