
.compactTrackListItem {
  padding-bottom: $pd_large;
  @extend %layout__row;
}

.compactTrackListItem__artwork {
  height: 50px;
  width: 50px;

  position: relative;
  flex-shrink: 0;
}

.compactTrackListItem__content {
  overflow: hidden;
  align-items: flex-start;
  
  @extend %layout__row, %layout__align--vt;
}

.compactTrackListItem__playButton {
  margin: 0px $pd-small;
}

.compactTrackListItem__primaryInfo {
  overflow: hidden;
}

.compactTrackListItem__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 14px;

  margin-bottom: $pd-small - 5;
}

.compactTrackListItem__type {
  font-size: 13px;
  opacity: 0.4;
}
