// Variables

$transport-height: calc(100vh);

// Classes

.playerPanel__container {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 200;

  -webkit-overflow-scrolling:touch;

  @extend .commonFixed;

  pointer-events: none;
}

.playerPanel {
  height: $transport-height;
  background: black;

  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;

  transform: translateY(calc(100% - 55px));
  transform-origin: bottom;

  pointer-events: all;

  @extend .transition__normal;

  transition-property: transform;

  &--isOpen {
    transform: translate(0px);

    .playerPanel__header {
      background: none;
      opacity: 0;

      pointer-events: none;
    }

    .playerPanel__openHeader {
      opacity: 1;
      pointer-events: all;
    }

    .button--playerPanelToggle {
      transform: rotate(0deg);
    }
  }
}

.playerPanel__background {
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  opacity: 0.4;

  .imageRenderer {
    height: 100%!important;
    width: 100%!important;
  }
}

.playerPanel__foreground {
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.playerPanel__header {
  height: 55px;
  background: $c_primary;

  position: absolute;

  top: 0px;
  width: 100%;

  @extend %layout__row, %layout__align--vt, .transition__normal;
}

.playerPanel__summary {
  margin-left: 15px;

  @extend %layout--grow;
}

.playerPanel__toggleButton {
  height: 55px;
  width: 55px;

  @extend %layout__align--vt, %layout__align--hz;
}

.playerPanel__trackTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100vw - 128px);
}

.playerPanel__panelToggleSpace {
  height: 55px;
  width: 55px;
}

.playerPanel__panelToggle {
  position: absolute;
  top: 0px;
  right: 0px;
}

.button--playerPanelToggle {
  transform: rotate(180deg);
}

.playerPanel__openHeader {
  height: 55px;
  width: 100%;

  background: $c_trans-dark-2;

  opacity: 0;
  pointer-events: none;

  @extend .transition__normal;
}

.playerNowPlaying {
  position: absolute;

  top: 55px;
  bottom: 0px;

  left: 0px;
  right: 0px;

  @extend %layout__col;
}

.playerNowPlaying__artwork {
  margin-top: 30px;
  min-height: 50%;

  @extend %layout__align--hz;

  .imageCollection {
    height: calc(100vw - 60px)!important;
    width: calc(100vw - 60px)!important;

    max-height: 500px;
    max-width: 500px;
  }
}

.playerNowPlaying__controls {
  margin: auto;
  margin-top: 5px;

  align-items: center;

  width: calc(100vw - 60px);
  max-width: 500px;

  @extend %layout--grow, %layout__align--vt, %layout__col;
}

.playerNowPlaying__controlSummary {
  text-align: center;
  margin-bottom: 10px;

  @extend %layout--grow, %layout__align--vt, %layout__col;
}

.playerNowPlaying__summaryText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100vw - 60px) !important;
  line-height: 1;
}

.playerNowPlaying__controlTrackTitle {
  font-size: 2.5vh;

  @extend .playerNowPlaying__summaryText;
}

.playerNowPlaying__controlTrackUser {
  font-size: 2vh;
  opacity: 0.7;

  margin-top: 1.5vh;

  @extend .playerNowPlaying__summaryText;
}

.playerNowPlaying__controlTransport {
  margin-top: 10px;

  @extend %layout--grow, %layout__align--vt;
}

.playerPanel__playButton {
  padding: 0px 25px;
}

.playerNowPlaying__controlSeeker {
  width: 100%;

  margin-bottom: 5px;
  padding-top: 15px;

  @extend %layout--grow, %layout__col;

  .playerSeeker {
    width: 100%;
  }
}

.playerPanel__body {
  .playButton, .playerControls__toggle {
    height: 7.2vh;
    width: 7.2vh;

    box-sizing: border-box;

    svg {
      width: 3vh;
      height: 3vh;
    }
  }
}

.playerNowPlaying__controlTransport .button--playerTransportButton {
  height: 7.5vh;
  width: 7.5vh;

  icon, .button__icon {
    height: 5.5vh;
    width: 5.5vh;
  }
}

.playerNowPlaying__controlTransport {
  width: 100%;

  .playerControls {
    width: 100%;
    justify-content: space-between;
  }
}

/** Media **/

@media all and (orientation:landscape) {
  .playerNowPlaying {
    flex-direction: row;
  }

  .playerNowPlaying__artwork {
    min-width: auto;
    min-height: auto;

    margin-top: 0px;

    justify-content: none;
    align-items: center;

    margin-right: 25px;
    margin-left: 25px;

    .imageCollection {
      height: calc(100vh - 115px)!important;
      width: calc(100vh - 115px)!important;
    }
  }

  .playerPanel__body {
    .playButton, .playerControls__toggle {
      height: 7.2vw;
      width: 7.2vw;

      svg {
        width: 3vw;
        height: 3vw;
      }
    }
  }

  .playerNowPlaying__controls {
    width: 50%;
    margin: 0;

    padding-right: 15px;
  }

  .playerNowPlaying__summaryText {
    max-width: calc(50vw) !important;
  }

  .playerNowPlaying__controlTrackTitle {
    font-size: 2.5vw;
  }

  .playerNowPlaying__controlTrackUser {
    font-size: 2vw;
  }
}

// Queue

.playerPanel__queueList {
  color: white;

  .queueItem {
    background: $c_trans-dark-3;
    box-shadow: none;
  }

  .queueItem__length {
    color: $c_trans-light-3;
  }

  svg {
    fill: white;
  }

  .loadingIndicator__pulse {
    background: white;
  }

  .queueTrackItem {
    .queueTrackItem__content {
      opacity: 0.5;
    }

    &--isActive {
      .queueTrackItem__content {
        opacity: 1;
        color: white;
      }
    }
  }

  .queueTrackItem__artwork {
    background: $c_trans-light-1;
  }

  .queueTrackItem__placeholderArtwork {
    background: $c_trans-light-1;
  }
}

.playerPanel__queueListContent {
  height: calc(100vh - 55px);
}
