@keyframes k__common-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anim__common-fadein {
  animation-name: k__common-fadein;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
}


@keyframes k__common-spin-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** Slide up/down **/

@keyframes k__common-slidedown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes k__common-slideup {
  0% {

  }
  100% {

  }
}

.anim_common-fadein-enter {

}
