@keyframes k__modal--enter {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes k__modal--leave {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.anim__modal-enter {
  opacity: 0;
  transform: scale(0.95);
  animation-name: k__modal--enter;
  animation-delay: 150ms;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.anim__modal-leave {
  animation-name: k__modal--leave;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
