.anim__playerTransport-appear .playerTransport {
  transform: translateY(50px);
  transition-duration: 200ms;
}

.anim__playerTransport-appear-active .playerTransport {
  transform: translateY(0px);
}

.anim__playerTransport-enter .playerTransport {
  transform: translateY(50px);
}

.anim__playerTransport-enter-active .playerTransport {
  transform: translateY(0px);
}

.anim__playerTransport-leave .playerTransport {
  transform: translateY(0px);
}

.anim__playerTransport-leave-active .playerTransport {
  transform: translateY(55px);
}
