.uploadView {}

.uploadView__body {
  margin-top: $pd_large;

  @extend %layout__row;
}

.uploadView__main {
  @extend %layout--grow;
}

.uploadView__sidebar {
  margin-left: $pd_large;
  padding-left: $pd_large;

  border-left: solid 1px $c_trans-light-1;

  min-width: 350px;
  width: 350px;
}
