// Classes

.userView {
  @extend %layout__row, .commonFillBody;
}

.userView__sidebar {
  width: 300px;

  padding: $pd_large;
  @extend .shadow__light--right;
}

.userView__content {
  @extend %layout__col;
}

.userView__contentBody {
  background: $c_trans-dark-1;
  flex-grow: 1;
}

.userView__userBadge {
  margin-bottom: $pd_normal;

  @include shapeMask__rounded(3px);
  @extend .shadow__light;
}

.userView__avatar {
  width: 300px;
  height: 300px;
}

.userView__badgeFooter {
  padding: $pd_small;
  background: black;
}

.userView__displayName {
  font-size: 17px;
}

.userView__secondaryInfo {
  padding-bottom: $pd_normal;
  font-size: 15px;
  height: 30px;

  color: $c_accent;

  @extend %layout__row, %layout__align--hz, %layout__align--vt;
}

.userView__type, .userView__country {
  text-align: center;

  @extend %layout--grow;
}

.userView__secondaryInfoDivider {
  width: 1px;
  height: 30px;

  background: $c_trans-light-1;
  margin: 0px $pd_normal;
}

.userView__description, .userView__dateJoined {
  @extend .commonModule;
}

.userView__dateJoined {
  @extend .commonText__weakText;
}

.userView__content {
  @extend %layout--grow;
}

.userView__tabs {
  @extend %layout--grow;
}

.userView__actions {
  margin-top: -7px;
}

.userView__tabContent {
  padding-top: $pd_large;

  @extend .commonModule;
}

.userView__header {
  padding: $pd_normal;
}

.userView__headerTop {
  @extend %layout__row;
}

.userView__primaryInfo {
  padding: $pd_small;
}

@media screen and (max-width: 1090px) {
  .userView {
    flex-direction: column;
  }

  .userView__sidebar {
    height: 80px;
    width: 100%;

    display: flex;
  }

  .userView__avatar {
    border-radius: 3px;
    height: 80px;
    width: 80px;

    overflow: hidden;
    z-index: 1;
  }

  .userView__displayName {
    font-size: 18px;
  }

  .userView__type {
    text-align: left;
    margin-top: 4px;
  }

  .userView__location {
    text-align: left;
    margin-top: 4px;
  }
}
